/** @format */

.balance {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.expense,
.income {
  padding: 1rem;
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.expense .amount {
  color: red;
  font-weight: 500;
  font-size: 2rem;
}

.income .amount {
  color: green;
  font-weight: 500;
  font-size: 2rem;
}
